<mat-card class="restaurant-card no-shadow">
  <div class="car-image-container">
    <img mat-card-image [src]="restaurant?.url" alt="Restaurant Photo">
  </div>
  <mat-card-content>
    <div class="d-flex flex-column">
        <div class="fw-bold">Restaurant1</div>
        <div class="d-flex flex-row fw-bold"><mat-icon style="color: green;">stars</mat-icon>4.2</div>
        <div class="text-secondary text-truncate">Biryani, North Indian, Chinese, Thali, South Indian Meals</div>
        <div class="text-secondary">Lingampalli</div>
    </div>
  </mat-card-content>
</mat-card>
